.masthead {
    height: 40h;
    background: linear-gradient(to left, rgba(0, 4, 255, 0.185), rgba(0, 4, 255, 0.185), url('/public/img/masthead.jpg'));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }